* {
  box-sizing: border-box;
}

.screen-fragment {
  float: left;
  width: 50%;
  padding: 10px;
  height: 100vh;
  border: 1px solid;
}

.right-side {
  position: relative;
}

@media only screen and (max-width: 600px) {
  #root {
    display: flex;
    flex-direction: column;
  }
  .screen-fragment {
    display: block;
    width: 100%;
  }
  .left-side {
    order: 2;
  }
  .right-side {
    order: 1;
  }
}